@model IEnumerable<DoAnCNTT.Models.Favorite>

@{
    ViewData["Title"] = "FavoriteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#1ee156;padding:20px 30px;border-radius:15px;">
    <div style="font-size:35px;color:white;display:flex;">
        
        Danh sách xe yêu thích
    </div>
</div>

@foreach (var item in Model) {
        <div style="display:flex;justify-content:space-between;padding:20px 30px; margin-top:20px;text-align:center;border:1px solid black;border-radius:15px;">
            <div>
            <div style="padding:10px 20px;font-size:25px;">
                    @Html.DisplayFor(modelItem => item.Post.Name)
                </div>
                <div>
                    <img src="@item.Post.Image" alt="hinhanh.jpg" style="width: 200px;border-radius:10px;">
                </div>
                
            </div>
            <div>
            <div style="padding:20px 30px;font-size:20px;">
                Loại xe:
                @Html.DisplayFor(modelItem => item.Post.CarType.Name)
                </div>
                <div style="padding:20px 30px;font-size:20px;">
                    Hãng xe:
                    @Html.DisplayFor(modelItem => item.Post.Company.Name)
                </div>
            </div>
            <div>
                <div style="margin:10px 20px;">
                <a asp-controller="Posts" style="padding:7px;border:1px solid black;border-radius:50%;" asp-action="Details" asp-route-id="@item.PostId"><img width="25px" height="25px" src="@Url.Content("~/images/logo/listbook.png")" /></a>
                </div>
            <div style="margin:10px 20px;margin-top:30px;">
                <a asp-action="RemoveFromFavoriteList" style="padding:7px;border:1px solid black;border-radius:50%;" asp-route-redirectSignal="@true" asp-route-id="@item.PostId" asp-route-userId="@item.UserId"><img width="25px" height="25px" src="@Url.Content("~/images/logo/broken.png")" /></a>

                </div>
            </div>
        </div>
}
 