@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
    var userId = currentUser?.Id;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnCNTT.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <header>
        @if (User.IsInRole("Admin"))
        {
            <div style="height:70px;padding:20px;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    Trang của Admin
                </a>
            </div>

        }
        else if (User.IsInRole("Employee"))
        {
            <div style="height:70px;padding:20px;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    Trang của Employee
                </a>
            </div>
        }
        else
        {
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="@Url.Content("~/images/logo/1.png")" alt="" />

            </a>
        }

        @if (User.IsInRole("Customer"))
        {
            <div style="display:flex;">
                <a id="notificationButton" href="javascript:void(0);" onclick="loadNotifications();">
                    <img class="" style="width:30px;margin-top:8px;" src="@Url.Content("~/images/logo/bell.png")" alt="" />
                </a>
                <partial name="_LoginPartial" />
            </div>
        }
        else
        {
            <partial name="_LoginPartial" />
        }

    </header>
    @if (User.IsInRole("Customer"))
    {
        <div id="notificationContainer" class="tbuser" style="display:none;">
            <!-- Notifications will be loaded here -->
        </div>
    }


   

    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <div class="container9" style="min-height:765px;margin-bottom:10px;margin-top:10px;display:flex;width:100%;">
            <div style="width:20%;background-color:white;border-radius:5px;">
                @if (User.IsInRole("Admin"))
                {
                    <details style="border:1px solid black;">
                        <summary style="background-color:#1ee156;font-size:21px;font-weight:bold;">
                            <a style="margin-left:0px;" asp-area="" asp-controller="Home" asp-action="Index">
                                <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý bài đăng
                            </a>
                            
                        </summary>
                    </details>
                    <details style="border:1px solid black;">
                        <summary style="background-color:#1ee156;font-size:21px;font-weight:bold;">
                            <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý đối tượng
                            </summary>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/%.png")" alt="" />
                                Quản lý khuyến mãi
                             </summary>
                            <p><a class="" asp-area="Admin" asp-controller="Promotions" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới khuyến mãi</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="Promotions" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách khuyến mãi</a></p>
                        </details>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/tiennghi.png")" alt="" />
                                Quản lý tiện nghi
                            </summary>
                            <p><a class="" asp-area="Admin" asp-controller="Amenities" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới tiện nghi</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="Amenities" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách tiện nghi</a></p>
                        </details>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/car.png")" alt="" />
                                Quản lý loại xe
                            </summary>
                            <p><a class="" asp-area="Admin" asp-controller="CarTypes" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới loại xe</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="CarTypes" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách loại xe</a></p>
                        </details>
                        <details> 
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/bmw.png")" alt="" />
                                Quản lý hãng xe
                                </summary>
                            <p><a class="" asp-area="Admin" asp-controller="Companies" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới hãng xe</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="Companies" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách hãng xe</a></p>
                        </details>
                    </details>
                    <details style="border:1px solid black;">
                        <summary style="background-color:#1ee156;font-size:21px;font-weight:bold;">
                            <a style="margin-left:0px;" asp-area="Admin" asp-controller="Revenues" asp-action="Index">
                                <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Thống kê
                            </a>

                        </summary>
                    </details>
                    //


                    <details style="border:1px solid black;">
                        <summary style="background-color:#1ee156;font-size:21px;font-weight:bold;">
                            <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý người dùng
                        </summary>
                        <details>
                            <summary>
                                <a style="margin-left:0px;" asp-area="Admin" asp-controller="Customers" asp-action="Index">
                                    <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý khách hàng
                                </a>

                            </summary>
                        </details>
                        <details>
                            <summary>
                                <a style="margin-left:0px;" asp-area="Admin" asp-controller="Employees" asp-action="Index">
                                    <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý Nhân viên
                                </a>
                            </summary>
                        </details>
                    </details>


                    
                }
                else
                {
                    <details>
                        <summary style="background-color:#1ee156;font-size:21px;font-weight:bold;">
                            <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Xử lý yêu cầu
                        </summary>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/!.png")" alt="" />
                                Quản lý vi phạm
                            </summary>
                            <p><a class="nav-normal" asp-area="Employee" asp-controller="Reports" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/delete.png")" alt="" />  Bài viết vi phạm</a></p>
                        </details>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/cencel.png")" alt="" />
                                Quản lý hủy chuyến
                            </summary>
                            <p><a class="nav-normal" asp-area="Employee" asp-controller="Bookings" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/delete.png")" alt="" />  Hủy chuyến</a></p>
                        </details>
                    </details>
                    
                }
            </div>
            <main style="width:90%;background-color:white;padding:20px;margin-left:10px;border-radius:5px;" role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        

        <div class="container" style="min-height:765px;margin-bottom:10px;margin-top:10px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <footer class="footer" style="margin-bottom:-200px;">
        <div class="container" style="padding:50px;">
            <div></div>
            <div class="cs">
                <a class="a" style="color:white" asp-area="" asp-controller="Home" asp-action="ChinhSach">Chính sách về quyền riêng tư</a>
                <a class="a" style="color:white" asp-area="" asp-controller="Home" asp-action="DieuKhoan">Điều khoản dịch vụ</a>
                <a class="a" style="color:white" asp-area="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu công ty</a>
                <a class="a" style="color:white" asp-area="" asp-controller="Home" asp-action="LienHe">Liên hệ chúng tôi</a>
            </div>
            <div></div>
        </div>
        <div class="copyright" style="padding-bottom:30px;">
            <p>Bản quyền © 2024 - DoAnCNTT.</p>
        </div>
    </footer>

    <script>
        function loadNotifications() {
            var userId = "@userId"; 
            $.ajax({
                url: '@Url.Action("Index", "Notification", new { area = "Customer" })',
                type: 'GET',
                data: { userId: userId },
                success: function (data) {
                    $('#notificationContainer').html(data);
                    $('#notificationContainer').toggle(); 
                },
                error: function () {
                    alert('Failed to load notifications.');
                }
            });
        }
        $(document).ready(function () {
            $('#volumeRange').on('input', function () {
                $('#rangeValue').text($(this).val());
                console.log('Số chỗ ngồi: ' + $(this).val());
            });
        });
    </script>





    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>

</html>

