@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnCNTT.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <header>
        @if (User.IsInRole("Admin"))
        {
            <div style="height:70px;padding:20px;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    Trang của Admin
                </a>
            </div>

        }
        else if (User.IsInRole("Employee"))
        {
            <div style="height:70px;padding:20px;">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    Trang của Employee
                </a>
            </div>
        }
        else
        {
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="@Url.Content("~/images/logo/1.png")" alt="" />

            </a>
        }
        
        <nav class="nav">
            @* @if(User.IsInRole("Admin"))
            {
                <ul class="sidebar">
                    <li>
                        <a class="sidebar" asp-area="Admin" asp-controller="Promotions" asp-action="Create">Thêm mới khuyến mãi</a>
                    </li>
                    <li>
                        <a class="sidebar" asp-area="Admin" asp-controller="Promotions" asp-action="Index">Danh sách khuyến mãi</a>
                    </li>

                </ul>
                <a class="sidebar" asp-area="Admin" asp-controller="Promotions" asp-action="Index">Khuyến mãi</a>
                <a class="sidebar" asp-area="Admin" asp-controller="Amenities" asp-action="Index">Tiện nghi</a>
                <a class="sidebar" asp-area="Admin" asp-controller="CarTypes" asp-action="Index">Loại xe</a>
                <a class="sidebar" asp-area="Admin" asp-controller="Companies" asp-action="Index">Hãng xe</a>
            } *@
            @* @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
            {
                <a class="nav-normal" asp-area="Employee" asp-controller="Reports" asp-action="Index">Vi phạm</a>
                <a class="nav-normal" asp-area="Employee" asp-controller="Bookings" asp-action="Index">Yêu cầu hủy chuyến</a>
            } *@
             <form class="FormSearch dropdown" action="/Home/Index" method="get" style="">
                  <input id="search-input" style="border:none;" class="InfoSearch" type="text" name="query" placeholder="Tìm Sản phẩm" />
                    <div id="search-results" class="dropdown-content">
                    </div>
                    <input class="ButtonSearch" type="submit" value="Search" />
                </form>
            
            
            




        </nav>
        <partial name="_LoginPartial" />
    </header>

    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <div class="container9" style="min-height:765px;margin-bottom:10px;margin-top:10px;display:flex;width:100%;">
            <div style="width:20%;background-color:white;border-radius:5px;">
                @if (User.IsInRole("Admin"))
                {
                    <details style="border:1px solid black;">
                        <summary style="background-color:lightpink;font-size:21px;font-weight:bold;">
                            <a style="margin-left:0px;" asp-area="" asp-controller="Home" asp-action="Index">
                                <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý bài đăng
                            </a>
                            
                        </summary>
                    </details>
                    <details style="border:1px solid black;">
                        <summary style="background-color:lightpink;font-size:21px;font-weight:bold;">
                            <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Quản lý đối tượng
                            </summary>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/%.png")" alt="" />
                                Quản lý khuyến mãi
                             </summary>
                            <p><a class="" asp-area="Admin" asp-controller="Promotions" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới khuyến mãi</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="Promotions" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách khuyến mãi</a></p>
                        </details>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/tiennghi.png")" alt="" />
                                Quản lý tiện nghi
                            </summary>
                            <p><a class="" asp-area="Admin" asp-controller="Amenities" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới tiện nghi</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="Amenities" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách tiện nghi</a></p>
                        </details>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/car.png")" alt="" />
                                Quản lý loại xe
                            </summary>
                            <p><a class="" asp-area="Admin" asp-controller="CarTypes" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới loại xe</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="CarTypes" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách loại xe</a></p>
                        </details>
                        <details>
                            
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/bmw.png")" alt="" />
                                Quản lý hãng xe
                                </summary>
                            <p><a class="" asp-area="Admin" asp-controller="Companies" asp-action="Create"><img style="width:18px;" src="@Url.Content("~/images/logo/add.png")" alt="" />  Thêm mới hãng xe</a></p>
                            <p><a class="" asp-area="Admin" asp-controller="Companies" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" />  Danh sách hãng xe</a></p>
                        </details>
                    </details>
                    <details style="border:1px solid black;">
                        <summary style="background-color:lightpink;font-size:21px;font-weight:bold;">
                            <a style="margin-left:0px;" asp-area="Admin" asp-controller="Revenues" asp-action="Index">
                                <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Thống kê
                            </a>

                        </summary>
                    </details>
                    
                }
                else
                {
                    <details>
                        <summary style="background-color:lightpink;font-size:21px;font-weight:bold;">
                            <img style="width:30px;" src="@Url.Content("~/images/logo/3cham.png")" alt="" /> Xử lý yêu cầu
                        </summary>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/!.png")" alt="" />
                                Quản lý vi phạm
                            </summary>
                            <p><a class="nav-normal" asp-area="Employee" asp-controller="Reports" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/delete.png")" alt="" />  Bài viết vi phạm</a></p>
                        </details>
                        <details>
                            <summary>
                                <img style="width:20px;" src="@Url.Content("~/images/logo/cencel.png")" alt="" />
                                Quản lý hủy chuyến
                            </summary>
                            <p><a class="nav-normal" asp-area="Employee" asp-controller="Bookings" asp-action="Index"><img style="width:18px;" src="@Url.Content("~/images/logo/delete.png")" alt="" />  Hủy chuyến</a></p>
                        </details>
                        
                    </details>
                    
                }
            </div>
            <main style="width:90%;background-color:white;padding:20px;margin-left:10px;border-radius:5px;" role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="container" style="min-height:765px;margin-bottom:10px;margin-top:10px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }


@* 

    <div class="container" style="min-height:765px;margin-bottom:10px;margin-top:10px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@
    <footer class="footer" style="margin-bottom:-200px;">
        <div class="container">
            <div class="logo_Small"><img src="@Url.Content("~/images/logo/bcd_preview_rev_1.png")" alt=""></div>
            <div class="cs">
                <a class="a" asp-area="" asp-controller="Home" asp-action="ChinhSach">Chính sách về quyền tiêng tư</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="DieuKhoan">Điều khoản dịch vụ</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu công ty</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="LienHe">Liên hệ chúng tôi</a>
               
            </div>
            <div class="logo_Big"><img src="@Url.Content("~/images/logo/abc_preview_rev_1.png")" alt=""></div>
        </div>
        <div class="copyright">
            <p>Bản quyền © 2024 - DoAnCNTT.</p>
        </div>
    </footer>
    

    <script>
        document.onready
        $(document).ready(function () {
            $("#search-input").keyup(function () {
                var query = $(this).val();
                if (query !== '') {
                    $.ajax({
                        url: "/Home/SearchSuggestions",
                        type: "GET",
                        data: { query: query },
                        dataType: "json",
                        success: function (data) {
                            $("#search-results").empty();
                            $.each(data, function (index, suggestion) {
                                $("#search-results").append("<div class='suggestion'>" + suggestion + "</div>");
                            });
                            debugger;
                            // console.log($("#search-results"))
                            if ($("#search-results").children().length == 0) {
                                $(".dropdown-content").css("display", "none");
                            } else {
                                $(".dropdown-content").css("display", "block");
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Error:", error);
                        }
                    });
                } else {
                    $("#search-results").empty();
                    $(".dropdown-content").css("display", "none");
                }
            });
            $(document).on("click", ".suggestion", function () {
                var selectedSuggestion = $(this).text();
                $("#search-input").val(selectedSuggestion);
                $("#search-results").empty();
                $(".dropdown-content").css("display", "none");
            });
            $(document).click(function (event) {
                if (!$(event.target).closest('.dropdown').length) {
                    $(".dropdown-content").css("display", "none");
                }
            });
            $(document).ready(function () {
                $(".header").click(function () {
                    $(this).siblings(".item").slideToggle();
                });
            });
        });

    </script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>

</html>

