@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnCNTT.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <header>
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">
            <img class="logo" src="@Url.Content("~/images/logo/1.png")" alt="" />
        </a>
        <nav class="nav">
            @if(User.IsInRole("Admin"))
            {
                <a class="nav-normal" asp-area="Admin" asp-controller="Promotions" asp-action="Index">Khuyến mãi</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="Amenities" asp-action="Index">Tiện nghi</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="CarTypes" asp-action="Index">Loại xe</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="Companies" asp-action="Index">Hãng xe</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="Customers" asp-action="Index">Khách hàng</a>
            }
            @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
            {
                <a class="nav-normal" asp-area="Employee" asp-controller="Reports" asp-action="Index">Vi phạm</a>
                <a class="nav-normal" asp-area="Employee" asp-controller="Bookings" asp-action="Index">Yêu cầu hủy chuyến</a>
            }
             <form class="FormSearch dropdown" action="/Home/Index" method="get" style="">
                  <input id="search-input" style="border:none;" class="InfoSearch" type="text" name="query" placeholder="Tìm Sản phẩm" />
                    <div id="search-results" class="dropdown-content">
                    </div>
                    <input class="ButtonSearch" type="submit" value="Search" />
                </form>
            
            
            




        </nav>
        <partial name="_LoginPartial" />
    </header>
    <div class="container" style="min-height:765px;margin-bottom:10px;margin-top:10px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer" style="margin-bottom:-200px;">
        <div class="container">
            <div class="logo_Small"><img src="@Url.Content("~/images/logo/bcd_preview_rev_1.png")" alt=""></div>
            <div class="cs">
                <a class="a" asp-area="" asp-controller="Home" asp-action="ChinhSach">Chính sách về quyền tiêng tư</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="DieuKhoan">Điều khoản dịch vụ</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu công ty</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="LienHe">Liên hệ chúng tôi</a>
               
            </div>
            <div class="logo_Big"><img src="@Url.Content("~/images/logo/abc_preview_rev_1.png")" alt=""></div>
        </div>
        <div class="copyright">
            <p>Bản quyền © 2024 - DoAnCNTT.</p>
        </div>
    </footer>
    

    <script>
        document.onready
        $(document).ready(function () {
            $("#search-input").keyup(function () {
                var query = $(this).val();
                if (query !== '') {
                    $.ajax({
                        url: "/Home/SearchSuggestions",
                        type: "GET",
                        data: { query: query },
                        dataType: "json",
                        success: function (data) {
                            $("#search-results").empty();
                            $.each(data, function (index, suggestion) {
                                $("#search-results").append("<div class='suggestion'>" + suggestion + "</div>");
                            });
                            debugger;
                            // console.log($("#search-results"))
                            if ($("#search-results").children().length == 0) {
                                $(".dropdown-content").css("display", "none");
                            } else {
                                $(".dropdown-content").css("display", "block");
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Error:", error);
                        }
                    });
                } else {
                    $("#search-results").empty();
                    $(".dropdown-content").css("display", "none");
                }
            });
            $(document).on("click", ".suggestion", function () {
                var selectedSuggestion = $(this).text();
                $("#search-input").val(selectedSuggestion);
                $("#search-results").empty();
                $(".dropdown-content").css("display", "none");
            });
            $(document).click(function (event) {
                if (!$(event.target).closest('.dropdown').length) {
                    $(".dropdown-content").css("display", "none");
                }
            });
        });
    </script>







    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>

</html>

<style>
    .FormSearch {

        display: flex;
        align-items: center;
        position: relative; 
        border-radius: 15px;
        border:2px solid black;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .InfoSearch {
        padding: 13px;
        border: none;
        border-radius: 15px;
        flex: 1;
        font-size: 16px;
        width:350px;
    }
    .ButtonSearch {
        margin-left:10px;
        padding: 15px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 15px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        max-height: 300px;
        overflow-y: auto;
        width: 100%;
        box-sizing: border-box;
        top: 100%;
    }

    .suggestion {
        padding: 10px;
        cursor: pointer;
    }

        .suggestion:hover {
            background-color: #f4f4f4;
        }


    .logo{
        font-size: 2em;
        color: black;
        user-select: none;
    }

    .nav .nav-nohover{
        position: relative;
        font-size: 1.1em;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }

    .nav .nav-normal{
        position: relative;
        font-size: 1.1em;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }
    .nav .nav-normal::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 3px;
            background: black;
            border-radius: 5px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .5s;
    }
    .nav .nav-normal:hover::after{
            transform-origin: left;
            transform: scaleX(1);
    }
</style>
