@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnCNTT.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <header>
        <h2 class="logo">CarRent</h2>
        <nav class="nav">
            <a class="nav-normal" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
            <a class="nav-normal" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @if(User.IsInRole("Admin"))
            {
                <a class="nav-normal" asp-area="Admin" asp-controller="Promotions" asp-action="Index">Khuyến mãi</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="Amenities" asp-action="Index">Tiện nghi</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="CarTypes" asp-action="Index">Loại xe</a>
                <a class="nav-normal" asp-area="Admin" asp-controller="Companies" asp-action="Index">Hãng xe</a>
            }
            @if (User.IsInRole("Employee"))
            {
                <a class="nav-normal" asp-area="Employee" asp-controller="Reports" asp-action="Index">Vi phạm</a>
                <a class="nav-normal" asp-area="Employee" asp-controller="Bookings" asp-action="Index">Yêu cầu hủy chuyến</a>
            }
           @*  @if (User.IsInRole("Customer"))
            {
                <a class="nav-normal" asp-area="Customer" asp-controller="Posts" asp-action="Index">Posts</a>
                <a class="nav-normal" asp-area="Customer" asp-controller="Invoices" asp-action="Index">Invoices</a>
                <a class="nav-normal" asp-area="Customer" asp-controller="Bookings" asp-action="Index">Bookings</a>
                <a class="nav-normal" asp-area="Customer" asp-controller="Favorites" asp-action="FavoriteList" asp-route-userId="@currentUser.Id">FavoriteList</a>
            } *@
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container" style="min-height:765px;margin-bottom:10px;margin-top:10px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer" style="margin-bottom:-200px;">
        <div class="container">
            <div class="logo_Small"><img src="@Url.Content("~/images/logo/bcd_preview_rev_1.png")" alt=""></div>
            <div class="cs">
                <a class="a" asp-area="" asp-controller="Home" asp-action="ChinhSach">Chính sách về quyền tiêng tư</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="DieuKhoan">Điều khoản dịch vụ</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu công ty</a>
                <a class="a" asp-area="" asp-controller="Home" asp-action="LienHe">Liên hệ chúng tôi</a>
               
            </div>
            <div class="logo_Big"><img src="@Url.Content("~/images/logo/abc_preview_rev_1.png")" alt=""></div>
        </div>
        <div class="copyright">
            <p>Bản quyền © 2024 - DoAnCNTT.</p>
        </div>
    </footer>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>

</html>

<style>
    .logo{
        font-size: 2em;
        color: black;
        user-select: none;
    }

    .nav .nav-nohover{
        position: relative;
        font-size: 1.1em;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }

    .nav .nav-normal{
        position: relative;
        font-size: 1.1em;
        color: black;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }
    .nav .nav-normal::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 3px;
            background: black;
            border-radius: 5px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .5s;
    }
    .nav .nav-normal:hover::after{
            transform-origin: left;
            transform: scaleX(1);
    }
</style>
