@model IEnumerable<DoAnCNTT.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Đặt cọc
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Thành tiền
            </th>
            <th>
                Ngày nhận
            </th>
            <th>
                Ngày trả
            </th>
            <th>
                Bài đăng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrePayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieveOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
