@model IList<DoAnCNTT.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tên KH
            </th>
            <th>
                Email
            </th>
            <th>
                SĐT
            </th>
            <th>
                Báo cáo
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Thời gian khóa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnd)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

