@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DoAnCNTT.Models.Post
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Chi tiết bài đăng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = await UserManager.GetUserAsync(User);
}

<div style="margin-top:20px;">
    <div class="cover-car-container">
        <div class="main-img">
            <div class="cover-car-item">
                <img loading="lazy" alt=""
                     src="@Model.Image">
            </div>
        </div>
        <div class="sub-img">
            @foreach (var image in @ViewBag.PostImages)
            {
                <div class="cover-car-item">
                    <img loading="lazy"
                         src="@image"
                         alt="">
                </div>
            }
        </div>
    </div>
    <div class="cover-car-container" style="margin-top:20px;">
        <div class="main-img">
            <div style="display:flex;justify-content: space-between;align-items: center;">
                <div>

                    <span style="font-size:35px;font-weight:bold;">@Html.DisplayFor(model => model.Name)</span>
                    <ul style="display:flex;">
                        @{
                            var rideNumber = Model.RideNumber;
                        }

                        @if (rideNumber > 0)
                        {
                            <li style="display:flex;margin-left:-35px;">
                                <img width="24px" src="@Url.Content("~/images/logo/star-s-fill.svg")" alt=""> <div style="margin-top:0px;font-size:18px;margin-right:10px;">5.0</div>
                            </li>

                            <li style="display:flex;">
                                <img width="24px" src="@Url.Content("~/images/logo/luggage-cart-line.svg")" alt=""><div style="margin-top:0px;font-size:18px;margin-right:15px;"> @rideNumber chuyến</div>
                            </li>
                        }
                        else
                        {
                            <li style="margin-left:-35px;">
                                chưa có chuyến
                            </li>
                        }


                        <li>
                            @Html.DisplayFor(model => model.RentLocation)
                        </li>
                    </ul>
                </div>

                <div>
                    @{
                        if (currentUser == null)
                        {
                            <a class="nav-normal" style="padding:15px 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" asp-area="Customer" asp-controller="Favorites" asp-route-id="@Model.Id" asp-action="AddToFavorite">Thêm vào danh sách yêu thích</a>

                        }
                        else
                        {
                            <a class="nav-normal" style="padding:15px 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" asp-area="Customer" asp-controller="Favorites" asp-route-id="@Model.Id" asp-route-userId="@currentUser!.Id" asp-action="AddToFavorite">Thêm vào danh sách yêu thích</a>
                        }
                    }
                </div>

            </div>
            <hr style="opacity:0.3;" />
            <div>
                <div style="font-weight:bold;margin-block:5px;" class="font">
                    Đặc điểm
                </div>
                <ul class="grid-li">
                    <li>
                        <div><img style="width:35px;" src="@Url.Content("~/images/logo/luggage.png")" /></div>
                        <div>Số chổ</div>
                        <div style="font-weight:bold;">@Html.DisplayFor(model => model.Seat)</div>
                    </li>
                    <li>
                        <div><img style="width:35px;" src="@Url.Content("~/images/logo/gearbox.png")" /></div>
                        <div>Hộp số</div>
                        <div>
                            @if (Model.Gear)
                            {
                                <div style="font-weight:bold;">Số tự động</div>
                            }
                            else
                            {
                                <div style="font-weight:bold;">Số sàn</div>
                            }
                        </div>
                    </li>
                    <li>
                        <div><img style="width:35px;" src="@Url.Content("~/images/logo/fuel.png")" /></div>
                        <div>Nhiên liệu</div>
                        <div style="font-weight:bold;">
                            @Html.DisplayFor(model => model.Fuel)
                        </div>
                    </li>
                    <li>
                        <div><img style="width:35px;" src="@Url.Content("~/images/logo/car-engine.png")" /></div>
                        <div>Nhiên liệu tiêu hao</div>
                        <div style="font-weight:bold;">
                            @Html.DisplayFor(model => model.FuelConsumed) lít/100km
                        </div>
                    </li>
                </ul>
            </div>

            <hr style="opacity:0.3;" />

            <div>
                <div style="font-weight:bold;" class="mar font">Mô tả</div>
                @if (Model.HasDriver == true)
                {
                    <div>
                        Xe có tài xế
                    </div>
                }
                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

            <hr style="opacity:0.3;" />

            <div>
                <div style="font-weight:bold;" class="font">
                    Các tiện nghi khác
                </div>
                <div class="grid-li">
                    @foreach (var amenity in ViewBag.PostAmenities)
                    {
                        var foundImage = false;
                        foreach (var img in ViewBag.PostIMG)
                        {
                            if (img.Name == amenity.Name)
                            {
                                <div class="item" style="padding:10px;">
                                    <img src="@img.IconImage" style="width:24px;margin-right:10px;" alt="@img.Name" />
                                    <span>@amenity.Name</span>
                                </div>
                                foundImage = true;
                                break;
                            }
                        }
                        if (!foundImage)
                        {
                            <div class="item">
                                No image found for @amenity.Name
                            </div>
                        }
                    }
                </div>
            </div>

            <hr style="opacity:0.3;" />

            <div>
                <div style="font-weight:bold;" class="font">
                    Giấy tờ thuê xe ?
                </div>
                <div class="mar">
                    <div class="flex-container">
                        <div class="small-div"></div>
                        <div class="large-div" style="padding:10px 20px;">
                            <span> ! Chọn 1 trong 2 hình thức</span>
                            <div style="margin-left:10px;margin-block:5px;font-weight:600;">
                                <img style="width:35px;margin-right:10px;" src="@Url.Content("~/images/logo/driving-license.png")" />
                                GPLX & CCCD gắn chip(Đối chiếu)
                            </div>
                            <div style="margin-left:10px;font-weight:600;">
                                <img style="width:35px;margin-right:10px;" src="@Url.Content("~/images/logo/gplx_passport.png")" />
                                GPLX(Đối chiếu) & Passport(Giữ lại)
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div>
                <div class="font">Điều khoản</div>
            </div>

            <div>
                <div class="font">
                    Chính sách hủy chuyến
                </div>
            </div>



            <hr style="opacity:0.3;" />
            <div>
                @{
                    var user = await UserManager.FindByIdAsync(Model.CreatedById!);
                }
                <span>Chủ xe</span>
                <div style="display:flex;">
                    <img src="@Url.Content(user!.Image)" style="width:70px;height:70px;border-radius:50%;" />
                    <div style="margin-left:20px;">
                        @{
                            if(User.IsInRole("Admin"))
                            {
                                <a asp-area="Admin" asp-controller="Customers" asp-action="Details" asp-route-id="@user.Id">@user.Name</a>
                            }
                            else
                            {
                                <a style="font-weight:bold;font-size:25px;" asp-area="" asp-controller="Home" asp-action="FindUser" asp-route-id="@user.Id">@user.Name</a>
                            }

                        }
                        @* <span style="font-weight:bold;font-size:25px;">@user.Name</span> *@
                        <div>
                            <i>
                                @if (rideNumber > 0)
                                {
                                    <div style="display:flex;">
                                        <li style="margin-right:10px;">
                                            5.0
                                        </li>
                                        <li>
                                            @rideNumber chuyến
                                        </li>
                                    </div>
                                }
                                else
                                {
                                    <li style="">
                                        chưa có chuyến
                                    </li>
                                }
                            </i>
                        </div>
                    </div>

                </div>
                <div>
                    <ul class="grid-li">
                        <li>
                            <div>
                                Tỉ lệ phản hồi
                            </div>
                            <div>
                                100%
                            </div>
                        </li>
                        <li>
                            <div>
                                Thời gian phản hồi
                            </div>
                            <div>
                                5 phút
                            </div>
                        </li>
                        <li>
                            <div>
                                Tỉ lệ đồng ý
                            </div>
                            <div>
                                100%
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2>Đánh giá tổng: @Model.AvgRating.ToString("F1") <img width="36px" src="@Url.Content("~/images/logo/star-s-fill.svg")" alt=""</h2>
            </div>
            <div>
                <div class="comment">

                    @if (ViewData["Cmt"] != null)
                    {
                        var comments = ViewBag.Cmt as List<Rating>;
                        foreach (var comment in comments)
                        {
                            <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin:10px;padding:30px;background-color: #fef7f0;border-radius:5px;">

                                <div class="comment-avatar">
                                    @{
                                        var userComment = await UserManager.FindByIdAsync(comment.CreatedById);
                                        if (userComment != null)
                                        {
                                            <div style="display:flex;justify-content:space-between;">
                                                <div style="display:flex;">
                                                    <img src="@userComment.Image" alt="No Img" />
                                                    <div style="margin-left:20px;">
                                                        <p>@userComment.Name</p>
                                                        <p style="margin-top:-20px;">
                                                            @for (int i = 0; i < comment.Point; i++)
                                                            {
                                                                <img class="start" src="@Url.Content("~/images/logo/star-s-fill.svg")" alt="">
                                                            }
                                                        </p>

                                                    </div>
                                                </div>
                                                <input style="border:none;padding:0px;margin-top:-10px;" value="@Model.CreatedOn" disabled />
                                            </div>
                                        }
                                    }
                                </div>
                                <div>
                                    <p style="font-size:20px;">
                                        @comment.Comment
                                    </p>
                                </div>
                                @if (currentUser != null && currentUser!.Id == comment.UserId)
                                {
                                    <a asp-action="Delete" style="background-color: cadetblue;border-radius:5px;color:white;padding:10px 20px;" asp-controller="Rating" asp-route-id="@comment.Id" asp-route-postId="@Model.Id">Xóa bình luận</a>
                                }
                            </div>

                        }
                    }
                    else
                    {
                        <p>Không có đánh giá.</p>
                    }
                    <div>
                        @{
                            var newRating = new Rating()
            {
                PostId = Model.Id,
                CreatedById = currentUser == null ? null : currentUser!.Id,
                CreatedOn = DateTime.Now,
                UserId = currentUser == null ? null : currentUser!.Id
            };
                            <partial name="../Rating/AddComment.cshtml" model="newRating" />
                        }

                    </div>


                </div>

                </<div>
                </div>

            </div>
            <div class="sub-img">
                @{
                    var booking = new Booking()
            {
                PostId = Model.Id,
                UserId = currentUser == null ? null : currentUser!.Id,
                CreatedOn = DateTime.Now,
                RecieveOn = DateTime.Now,
                ReturnOn = DateTime.Now.AddDays(1),
                Total = Model!.Price,
                FinalValue = Model!.Price,
                PrePayment = Model!.Price * (decimal)0.3,
            };
                    ViewBag.IsAvailable = Model.IsAvailable;
                    <partial name="../Bookings/Create.cshtml" model="booking" />
                }
            </div>

        </div>


        <div>
            @{
                if (SignInManager.IsSignedIn(User))
                {
                    if (currentUser!.Id == Model.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a>
                    }
                    else
                    {
                        <a asp-area="Employee" asp-controller="Reports" asp-action="Create" asp-route-id="@Model?.Id">Báo cáo bài viết</a>
                    }
                }
            }

            <a href="javascript:history.go(-1);">Quay lại</a>
        </div>




        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var createButton = document.getElementById("createButton");
                if (@Model.IsAvailable == false)
                    createButton.hidden = true;
            });

        </script>



        <style>
            .start {
                width: 20px !important;
                height: 20px !important;
            }

            .font {
                font-size: 25px;
            }

            .mar {
                margin-block: 20px;
            }

            .flex-container {
                display: flex;
            }

            .small-div {
                flex: 0 0 1%;
                background-color: #f26a2b; /* Màu nền của div đầu tiên */
                border-top-left-radius: 10px; /* Độ cong góc trái trên */
                border-bottom-left-radius: 10px; /* Độ cong góc trái dưới */
            }

            .large-div {
                flex: 0 0 99%;
                background-color: #fef7f0;
            }

            .grid-li {
                display: grid;
                grid-template-columns: repeat(4, 1fr); /* 4 cột bằng nhau */
                gap: 10px; /* Khoảng cách giữa các cột */
            }

            .cover-car-container {
                display: flex;
                position: relative;
                grid-gap: 16px;
                gap: 16px;
                width: 100%;
            }

                .cover-car-container .main-img {
                    position: relative;
                    width: calc(68% - 16px);
                    height: 100%;
                }

                .cover-car-container .sub-img {
                    width: 32%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    grid-gap: 16px;
                    gap: 16px;
                }

                    .cover-car-container .sub-img img {
                        height: 176px;
                    }

            .cover-car-item {
                cursor: pointer;
            }

                .cover-car-item img {
                    width: 100%;
                    height: 560px;
                    border-radius: 16px;
                    object-fit: cover;
                }

            .comment-item {
                display: flex;
                margin-bottom: 20px;
            }

            .comment-avatar img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            .comment-content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 10px;
            }

                .comment-content .rating {
                    font-size: 20px;
                }

                .comment-content .star {
                    color: #FFD700;
                    display: inline-block;
                }

                .comment-content .star-none {
                    color: none;
                    display: inline-block;
                }

                .comment-content .comment-text {
                    margin-top: 5px;
                    font-size: 14px;
                }
        </style>



