@model DoAnCNTT.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết bài đăng</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Image" alt="hinhanh.jpg" width="200px"/>
        </dd>
        <dt class="col-sm-2">
            Danh sách hình
        </dt>
        <dd class="col-sm-10">
            @foreach (var image in @ViewBag.PostImages)
            {
                <img src="@image" alt="Image" width="200px"/>
            }
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Chỗ ngồi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ nhận xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentLocation)
        </dd>
        <dt class="col-sm-2">
            Tiện ích
        </dt>
        <dd class="col-sm-10">
            @foreach (var amenity in ViewBag.PostAmenities)
            {
                <div>@amenity</div>
            }
        </dd>
        <dt class = "col-sm-2">
            Có tài xế
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDriver)
        </dd>
        <dt class = "col-sm-2">
            Giá thuê
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) nghìn đồng/ngày
        </dd>
        <dt class = "col-sm-2">
            Loại hộp số
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Gear)
            {
                <text>Số tự động</text>
            }
            else
            {
                <text>Số sàn</text>
            }
        </dd>
        <dt class = "col-sm-2">
            Nhiên liệu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            Nhiên liệu tiêu thụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelConsumed) lít/100km
        </dd>
        <dt class = "col-sm-2">
            Số chuyến 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RideNumber)
        </dd>
        <dt class = "col-sm-2">
            Có thể thuê
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            Loại xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarType.Name)
        </dd>
        <dt class = "col-sm-2">
            Hãng xe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
</div>
<div>
    @{
        var currentUser = await UserManager.GetUserAsync(User);
        if(SignInManager.IsSignedIn(User))
        {
            if (currentUser!.Id == Model.UserId)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a>
            }
        }
    }

    <a asp-area="Customer" asp-controller="Bookings" asp-action="Create" asp-route-userId="@Model?.UserId" asp-route-postId="@Model?.Id">Đặt cọc</a> |
    <a href="javascript:history.go(-1);">Quay lại</a>
</div>
