@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row1">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h1 style="margin-left:25%;">Đăng ký</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" aria-required="true" placeholder="Name" />
                <label asp-for="Input.FullName">FullName</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone" aria-required="true" placeholder="Phone User" />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Quay lại đăng nhập</a>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary Submit">Register</button>

        </form>
 </<div>
    @* <div style="">
        <div style="display:flex;">
            <hr style="width:45%;" />
            <img style="width:30px;" src="@Url.Content("~/images/logo/8.png")" />
            <hr style="width:45%;" />
        </div>

        <p>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="" style="padding:5px 70px;margin-left:10%;background-color:white;color:black;border:none;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-top:-10px;" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img style="width:30px;" src="@Url.Content("~/images/logo/gg.png")" />  Sign in with Google</button>
                                    /* @provider.DisplayName */
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </p>
    </div> *@
    


    <style>
        .row1 {
            width: 450px;
            margin-inline: auto;
            margin-block: 40px;
            padding: 15px 25px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        }

            .row1 h2 {
                text-align: center;
            }

        .tatmau {
            text-decoration: blink;
            color: black;
        }

        .Submit {
            background-color: #333;
        }
    </style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
