@model DoAnCNTT.Models.CarType

@{
    ViewData["Title"] = "Chi tiết loại xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Loại xe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Tên hãng xe:
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in @ViewBag.CarTypeCompanies)
            {
                <div>@item</div>
            }
        </dd>
        <dt class = "col-sm-2">
            Mã người tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            Ngày tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            Mã người cập nhật
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class = "col-sm-2">
            Ngày cập nhật
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            Ẩn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a href="javascript:history.go(-1);">Quay lại</a>
</div>
