@model IEnumerable<DoAnCNTT.Models.Post>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Employee") || User.IsInRole("Admin"))
{

    <nav style="border-radius:15px;padding:20px 30px; margin-top:20px;" class="SearchCar">
       

            <!-- Form tìm kiếm cho khách hàng -->
            <form asp-area="" asp-controller="Home" asp-action="ViewSearch" method="get" style="">
                <label class="la">Tìm xe cho bạn</label>
                <div style="display:flex;justify-content:space-between;">
                    <div style="display:flex;" class="mar">
                        <label class="label1">Hãng xe: </label>
                        <select id="company-input" class="select" name="company" style="width: 100%; border:none;">
                            <option value="">Chọn xe cần tìm</option>
                            <!-- Các hãng xe sẽ được load từ backend -->
                        </select>
                    </div>
                    <div class="volume-slider mar">
                        <label class="label">Số chổ ngồi: <span id="rangeValue">2</span></label>
                        <input type="range" min="2" max="16" value="0" step="2" class="slider" name="seat" id="volumeRange">
                    </div>
                    <div style="display:flex;" class="mar">
                        <label class="label">Động cơ: </label>
                        <select name="gear" class="form-control">
                            <option value="">Loại động cơ</option>
                            <option value="Số sàn">Số sàn</option>
                            <option value="Số tự động">Số tự động</option>
                        </select>
                    </div>
                    <div style="display:flex;" class="mar">
                        <label class="label" style="margin-right:10px; width:170px;">Nhiên liệu: </label>
                        <select name="Fuel" class="form-control">
                            <option value="">Loại nhiên liệu</option>
                            <option value="Xăng">Xăng</option>
                            <option value="Dầu">Dầu</option>
                            <option value="Điện">Điện</option>
                        </select>
                    </div>
                    <div class="mar" hidden>
                        <label class="label"> Tài Xế Riêng:</label>
                        <label class="" style="margin-left:-30px;">
                            <input class="checkbox" style="width:30px;height:30px;" type="checkbox" name="HasDriver" value="false" onclick="updateCheckboxValue(this)" />
                        </label>
                    </div>
                </div>
                <div id="search-results" class="dropdown-content"></div>
                <input class="ButtonSearch" type="submit" value="Search" />
            </form>
        
    </nav>

    <h1>Danh sách bài đăng</h1>

    <table style="min-height:500px;" class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>Mô tả</th>
                <th>Địa chỉ nhận</th>
                <th>Có tài xế</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Posts" asp-area="Customer" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        <img src="@item.Image" alt="hinhanh.jpg" style="width: 200px" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.RentLocation)</td>
                    <td>@Html.DisplayFor(modelItem => item.HasDriver)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <a asp-action="Delete" class="btn" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @if (!User.IsInRole("Employee") && !User.IsInRole("Admin"))
    {
        <div class="header">
            <div class="container5 header-container">
            <div class="header-left">
                <h1>Thuê xe nhanh chóng tiện lợi.</h1>
                <h3>Phủ sóng 4 thành phố lớn nhất Việt Nam</h3>
                <p>
                    Với rất nhiều loại xe, hãng xe, tiện nghi bạn có thể tùy chọn, đáp ứng mọi nhu cầu của khách hàng.
                </p>
                <a style="color:white; padding:15px 25px;" asp-action="ViewSearch" class="btn">Thuê xe ngay</a>
            </div>
            <div class="header-right">
                <div class="sq-box">
                    <img src="@Url.Content("~/images/logo/car2.png")" alt="">
                </div>
            </div>
        </div>
        <div class="sq-box2"></div>
    </div>
    }
    

    @if (!User.IsInRole("Employee") && !User.IsInRole("Admin"))
    {
        <!-- Slider loại xe -->
        <div style="margin-top:30px;">
            <div style="font-size:30px;font-weight:bold;margin-bottom:10px;"> Loại xe nổi bật </div>
            <div class="image-slider">
                <a href="#" class="prev-button">&#10094;</a>
                <a href="#" class="next-button">&#10095;</a>
                <div class="slider-container">
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="SEDAN" name="Loaixe">
                        <input value="SEDAN" hidden />
                        <img src="@Url.Content("~/images/logo/sedan.png")" alt="Image 1">
                        <label>SEDAN</label>
                    </a>
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="OFFROAD" name="Loaixe">
                        <input value="OFFROAD" hidden />
                        <img src="@Url.Content("~/images/logo/xebantai.png")" alt="Image 2">
                        <label>OFFROAD</label>
                    </a>
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="ELECTRIC" name="Loaixe">
                        <input value="ELECTRIC" hidden />
                        <img src="@Url.Content("~/images/logo/xedien.png")" alt="Image 3">
                        <label>ELECTRIC</label>
                    </a>
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="SUV" name="Loaixe">
                        <input value="SUV" hidden />
                        <img src="@Url.Content("~/images/logo/SUV.png")" alt="Image 4">
                        <label>SUV</label>
                    </a>
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="SPORT" name="Loaixe">
                        <input value="SPORT" hidden />
                        <img src="@Url.Content("~/images/logo/sport.png")" alt="Image 5">
                        <label>SPORT</label>
                    </a>
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="HATCHBACK" name="Loaixe">
                        <input value="HATCHBACK" hidden />
                        <img src="@Url.Content("~/images/logo/hatchback.png")" alt="Image 6">
                        <label>HATCHBACK</label>
                    </a>
                    <a class="slide" asp-controller="home" asp-action="GetCartypes" asp-route-name="COUPE" name="Loaixe">
                        <input value="COUPE" hidden />
                        <img src="@Url.Content("~/images/logo/coupe.png")" alt="Image 7">
                        <label>COUPE</label>
                    </a>
                </div>
            </div>
        </div>

        <!-- Địa điểm của xe -->
        <div style="margin-top:30px;">
            <div style="font-size:30px;font-weight:bold;margin-bottom:10px;"> Địa điểm nổi bật </div>
            <div class="anhaa">
                <a asp-controller="home" asp-action="Address" data-name="Hà Nội" style="margin-left:7px;">
                    <label class="sumxe" id="sum-hanoi"></label>
                    <img class="anhnb" src="@Url.Content("~/images/logo/hanoi.png")">
                </a>
                <a asp-controller="home" asp-action="Address" data-name="Đà Nẵng">
                    <label class="sumxe" id="sum-danang"></label>
                    <img class="anhnb" src="@Url.Content("~/images/logo/danang.png")">
                </a>
                <a asp-controller="home" asp-action="Address" data-name="TPHCM">
                    <label class="sumxe" id="sum-tphcm"></label>
                    <img class="anhnb" src="@Url.Content("~/images/logo/tphcm.png")">
                </a>
                <a asp-controller="home" asp-action="Address" data-name="Cà Mau">
                    <label class="sumxe" id="sum-camau"></label>
                    <img class="anhnb" src="@Url.Content("~/images/logo/camau.png")">
                </a>
            </div>
        </div>
    }

    <section class="py-2" style="min-height:600px;">
        <div style="font-size:30px;font-weight:bold; margin-bottom:15px;margin-top:25px;">
            Danh sách xe cho thuê
        </div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="box" style="padding:3px;margin-inline:8.7px;background-color:white;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); margin-bottom:15px;">
                        <div class="pta" style="width: 280px;height:180px; overflow: hidden;">
                            <img src="@item.Image" alt="" style="object-fit: cover; width: 100%; height: 100%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);" />
                        </div>
                        <div class="ptb">
                            @if (item.Gear)
                            {
                                <div class="ptb1 apt" style="padding:2px 4px;">Số tự động</div>
                            }
                            else
                            {
                                <div class="ptb1 apt" style="padding:2px 4px;">Số sàn</div>
                            }

                        </div>

                        <div class="ptc"><a asp-area="Customer" asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></div>
                        <div class="ptd">
                            <img src="@Url.Content("~/images/logo/road-map-line.svg")" class="icon_map" alt="">
                            <span class="text_map">@Html.DisplayFor(modelItem => item.RentLocation)</span>
                        </div>
                        <hr>
                        <div class="pte">
                            <div class="pte_left">
                                @*  Chưa xong *@
                                <div class="dgsao">
                                    <img src="@Url.Content("~/images/logo/star-s-fill.svg")" class="icon_sao_danhgia" alt="">
                                    <span class="text_saodanhgia">@item.AvgRating</span>
                                </div>
                                @if (item.RideNumber > 0)
                                {
                                    <div class="sochuyen">
                                        <img src="@Url.Content("~/images/logo/luggage-cart-line.svg")" class="icon_map" alt="">
                                        <div class="text_sochuyen">@item.RideNumber chuyến</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="sochuyen">
                                        Chưa có chuyến
                                    </div>
                                }

                            </div>
                            <div class="pte_right">
                                <div class="giagiam">@item.Price/giờ</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        var locations = ["Hà Nội", "Đà Nẵng", "TPHCM", "Cà Mau"];
        locations.forEach(function (location) {
            $.ajax({
                url: '@Url.Action("SumCars", "Home")',
                type: 'GET',
                data: { name: location },
                dataType: 'json',
                success: function (data) {
                    var id = 'sum-' + location.toLowerCase().replace(/\s/g, '').replace(/đ/g, 'd').normalize('NFD').replace(/[\u0300-\u036f]/g, '');
                    $('#' + id).text(data + ' xe');
                },
                error: function (xhr, status, error) {
                    console.error('Không thể lấy tổng số xe cho ' + location + ':', error);
                }
            });
        });
    });
    function updateCheckboxValue(checkbox) {
        if (checkbox.checked) {
            checkbox.value = true;
        }
        else {
            checkbox.value = false;
        }
    }
    $(document).ready(function () {
        $(".prev-button").click(function (event) {
            event.preventDefault(); // Prevent default action
            var lastSlide = $(".slide").last();
            $(".slider-container").prepend(lastSlide);
        });

        $(".next-button").click(function (event) {
            event.preventDefault(); // Prevent default action
            var firstSlide = $(".slide").first();
            $(".slider-container").append(firstSlide);
        });
    });
    $(document).ready(function () {
        $.ajax({
            url: '/Home/GetCarCompanies',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var $select = $('#company-input');
                $select.empty(); // Xóa các option hiện tại
                $select.append('<option value="">Chọn xe cần tìm</option>'); // Thêm option mặc định

                // Duyệt qua danh sách các hãng xe và thêm vào dropdown
                $.each(data, function (index, company) {
                    $select.append('<option value="' + company + '">' + company + '</option>');
                });
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
            }
        });
        $(".prev-button").click(function () {
            var lastSlide = $(".slide").last();
            $(".slider-container").prepend(lastSlide);
        });

        $(".next-button").click(function () {
            var firstSlide = $(".slide").first();
            $(".slider-container").append(firstSlide);
        });
        $("#search-input").keyup(function () {
            var query = $(this).val();
            if (query !== '') {
                $.ajax({
                    url: "/Home/SearchSuggestions",
                    type: "GET",
                    data: { query: query },
                    dataType: "json",
                    success: function (data) {
                        $("#search-results").empty();
                        $.each(data, function (index, suggestion) {
                            $("#search-results").append("<div class='suggestion'>" + suggestion + "</div>");
                        });
                        debugger;
                        // console.log($("#search-results"))
                        if ($("#search-results").children().length == 0) {
                            $(".dropdown-content").css("display", "none");
                        } else {
                            $(".dropdown-content").css("display", "block");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            } else {
                $("#search-results").empty();
                $(".dropdown-content").css("display", "none");
            }
        });
        $(document).on("click", ".suggestion", function () {
            var selectedSuggestion = $(this).text();
            $("#search-input").val(selectedSuggestion);
            $("#search-results").empty();
            $(".dropdown-content").css("display", "none");
        });
        $(document).click(function (event) {
            if (!$(event.target).closest('.dropdown').length) {
                $(".dropdown-content").css("display", "none");
            }
        });
        $(document).ready(function () {
            $(".header").click(function () {
                $(this).siblings(".item").slideToggle();
            });
        });
    });
    function formatPrice(price) {
        if (price >= 1000) {
            return (price / 1000) + 'k';
        }
        return price;
    }

    $(document).ready(function () {
        $('.giagiam').each(function () {
            var price = parseFloat($(this).text().replace(/[^0-9.-]+/g, ""));
            $(this).text(formatPrice(price) + '/giờ');
        });
    });
    document.getElementById('volumeRange').addEventListener('input', function () {
        document.getElementById('rangeValue').innerText = this.value;
    });

</script>


<style>
    .nutchuyentrang {
        margin-inline: 43%;
        width: 300px;
    }

    .nutchuyentrang1 {
        margin-left: 75%;
        width: 300px;
    }

    .box {
        width: 305px;
        height: 345px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    .pta {
        padding: 0px;
        margin: 10px;
    }

        .pta img {
            border-radius: 15px;
            width: 280px;
            height: 180px;
        }

    .ptb {
        padding: 0px;
        display: flex;
        width: 100%;
        margin: 0;
    }

    .ptb1 {
        font-size: 13px;
        border-radius: 50px;
        margin: 0;
    }

        .ptb1.apt {
            background-color: aquamarine;
        }

        .ptb1.bpt {
            background-color: rgb(243, 253, 49);
        }

        .ptb1.cpt {
            background-color: rgb(79, 143, 255);
        }

    .ptb div {
        padding: 0px;
        margin-inline: 10px;
    }

    .ptc {
        padding: 0px;
        margin-block: 7px;
    }

    .ptd {
        padding: 0px;
        margin-inline: 10px;
        display: flex;
    }

        .ptd .icon_map {
            width: 25px;
        }

        .ptd .text_map {
            padding-top: 3px;
        }

    hr {
        width: 275px;
        margin-top: 10px;
        margin-bottom: 5px;
    @* margin:5px; *@
    }

    .pte {
        padding: 0px;
        margin-inline: 10px;
        display: flex;
        justify-content: space-between;
    }

        .pte .pte_left {
            display: flex;
        }

            .pte .pte_left .dgsao {
                display: flex;
                margin-right: 10px;
            }

            .pte .pte_left .sochuyen {
                display: flex;
            }

                .pte .pte_left .sochuyen .icon_map {
                    width: 19px;
                }

            .pte .pte_left .dgsao .icon_sao_danhgia {
                width: 18px;
                /* color: rgb(253, 236, 0); */
            }

        .pte .pte_right {
            display: flex;
        }

            .pte .pte_right div {
                margin-right: 10px;
            }
</style>