@model PaginatedList<DoAnCNTT.Models.Post>
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@if (User.IsInRole("Admin"))
{
    <form class="FormSearch dropdown" action="/Home/Index" method="get" style="">
        <input id="search-input" style="border:none;" class="InfoSearch" type="text" name="query" placeholder="Tìm Sản phẩm" />
        <div id="search-results" class="dropdown-content"></div>
        <input class="ButtonSearch" type="submit" value="Search" />
    </form>

    <h1>Danh sách bài đăng</h1>

    <table style="min-height:500px;" class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>Mô tả</th>
                <th>Địa chỉ nhận</th>
                <th>Có tài xế</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Posts" asp-area="Customer" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        <img src="@item.Image" alt="hinhanh.jpg" style="width: 200px"  />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.RentLocation)</td>
                    <td>@Html.DisplayFor(modelItem => item.HasDriver)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <nav style="border-radius:15px;padding:20px 30px; margin-top:20px;" class="SearchCar">
        @if (!User.IsInRole("Employee") && !User.IsInRole("Admin"))
        {
            <!-- Form tìm kiếm cho khách hàng -->
            <form class="" asp-area="" asp-controller="Home" asp-action="Index" method="get" style="">
                <label class="la">Tìm xe cho bạn</label>

                <div style="display:flex;justify-content:space-between;">

                    <div style="display:flex;" class="mar">
                        <lable class="label1">Hãng xe: </lable>
                        <select id="company-input" name="company" style="border:none;">
                            <option value="">Chọn xe cần tìm</option>
                            <!-- Các hãng xe sẽ được load từ backend -->
                        </select>
                    </div>


                    <div class="volume-slider" class="mar">
                        <label class="label">Số chổ ngồi: <span id="rangeValue">0</span></label>
                        <input type="range" min="" max="16" value="0" step="1" class="slider" name="seat" id="volumeRange">
                    </div>



                    <div style="display:flex;" class="mar">
                        <label class="label">Động cơ: </label>
                        <select name="gear" class="form-control">
                            <option value="">Loại động cơ</option>
                            <option value="Số sàn">Số sàn</option>
                            <option value="Số tự động">Số tự động</option>
                        </select>
                    </div>
                    <div style="display:flex;" class="mar">
                        <label class="label" style="margin-right:10px; width:170px;">Nhiên liệu: </label>
                        <select name="Fuel" class="form-control">
                            <option value="">Loại nhiên liệu</option>
                            <option value="Xăng">Xăng</option>
                            <option value="Dầu">Dầu</option>
                            <option value="Điện">Điện</option>
                        </select>
                        @* <span name="Fuel" class="text-danger"></span> *@
                    </div>

                    <div class="mar">
                        <label class="label"> Tài Xế Riêng:</label>
                        <label class="" style="margin-left:-30px;">
                            <input class="checkbox" style="width:30px;height:30px;" type="checkbox" name="HasDriver" value="false" onclick="updateCheckboxValue(this)" />
                        </label>
                    </div>
                </div>

                <div id="search-results" class="dropdown-content"></div>
                <input class="ButtonSearch" type="submit" value="Search" />
            </form>
        }
    </nav>

    <!-- Slider loại xe -->
    <div style="margin-top:30px;">
        <div style="font-size:30px;font-weight:bold;margin-bottom:10px;">
            Loại xe nổi bật
        </div>
        <div class="image-slider">
            <a href="#" class="prev-button">&#10094;</a>
            <a href="#" class="next-button">&#10095;</a>
            <div class="slider-container">
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/sedan.png")" alt="Image 1">
                    <label>SEDAN</label>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/xebantai.png")" alt="Image 2">
                    <label>OFFROAD</label>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/xedien.png")" alt="Image 3">
                    <label>ELECTRIC</label>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/SUV.png")" alt="Image 4">
                    <label>SUV</label>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/sport.png")" alt="Image 5">
                    <label>SPORT</label>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/hatchback.png")" alt="Image 6">
                    <label>HATCHBACK</label>
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/images/logo/coupe.png")" alt="Image 7">
                    <label>COUPE</label>
                </div>
            </div>
        </div>

    </div>
    <!-- Địa điểm của xe -->
    <div style="margin-top:30px;">
        <div style="font-size:30px;font-weight:bold;margin-bottom:10px;">
            Địa điểm nổi bật
        </div>
        <div class="anhaa">
            <a style="margin-left:7px;">
                <label class="sumxe">300 xe</label>
                <img class="anhnb" src="@Url.Content("~/images/logo/hanoi.png")">
                @* <label class="sumxe">300+ xe</label> *@
            </a>
            <a>
                <label class="sumxe">300 xe</label>
                <img class="anhnb" src="@Url.Content("~/images/logo/danang.png")">
                @* <label class="sumxe">300+ xe</label> *@
            </a>
            <a>
                <label class="sumxe">300 xe</label>
                <img class="anhnb" src="@Url.Content("~/images/logo/tphcm.png")">
                @*  <label class="sumxe">300+ xe</label> *@
            </a>
            <a>
                <label class="sumxe">300 xe</label>
                <img class="anhnb" src="@Url.Content("~/images/logo/camau.png")">
            </a>
        </div>


    </div>

    <!-- Sắp xếp và hiển thị danh sách xe -->
    <section class="py-2" style="min-height:600px;">
        <!-- Code sắp xếp và hiển thị danh sách xe -->
        @{
            //Sắp xếp theo giá
            bool nextSortPriceOrder = ViewBag.SortPriceOrder != null ? !(bool)ViewBag.SortPriceOrder : true;
            string sortPriceText = ViewBag.SortPriceOrder != null && (bool)ViewBag.SortPriceOrder ? "Giá giảm dần" : "Giá tăng dần";

            //Sắp xếp theo số chuyến
            bool nextSortRideNumberOrder = ViewBag.SortRideNumberOrder != null ? !(bool)ViewBag.SortRideNumberOrder : true;
            string sortRideNumberText = ViewBag.SortRideNumberOrder != null && (bool)ViewBag.SortRideNumberOrder ? "Số chuyến giảm dần" : "Số chuyến tăng dần";

            //Sắp xếp theo đánh giá
            //Sắp xếp theo số chuyến
            bool nextSorRatingOrder = ViewBag.SortRatingOrder != null ? !(bool)ViewBag.SortRatingOrder : true;
            string sortRatingText = ViewBag.SortRatingOrder != null && (bool)ViewBag.SortRatingOrder ? "Đánh giá giảm dần" : "Đánh giá tăng dần";

        }
        <a asp-action="SortByPrice" asp-route-sortPriceOrder="@nextSortPriceOrder">@sortPriceText</a>
        <a asp-action="SortByRideNumber" asp-route-sortRideNumberOrder="@nextSortRideNumberOrder">@sortRideNumberText</a>
        <a asp-action="SortByRating" asp-route-sortRatingOrder="@nextSorRatingOrder">@sortRatingText</a>
        <div class="container ">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify_content-center">

                @foreach (var item in Model)
                {

                    <div class="box" style="padding:3px;margin-left:20px;background-color:white;border:0.5px solid #1ee156;margin-bottom:15px;">
                        <div class="pta" style="width: 280px;height:180px; overflow: hidden;">
                            <img src="@item.Image" alt="" style="object-fit: cover; width: 100%; height: 100%;border:0.5px solid #1ee156;" />
                        </div>
                        <div class="ptb">
                            @if (item.Gear)
                            {
                                <div class="ptb1 apt" style="padding:2px 4px;">Số tự động</div>
                            }
                            else
                            {
                                <div class="ptb1 apt" style="padding:2px 4px;">Số sàn</div>
                            }

                        </div>

                        <div class="ptc"><a asp-area="Customer" asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></div>
                        <div class="ptd">
                            <img src="@Url.Content("~/images/logo/road-map-line.svg")" class="icon_map" alt="">
                            <span class="text_map">@Html.DisplayFor(modelItem => item.RentLocation)</span>
                        </div>
                        <hr>
                        <div class="pte">
                            <div class="pte_left">
                                @*  Chưa xong *@
                                <div class="dgsao">
                                    <img src="@Url.Content("~/images/logo/star-s-fill.svg")" class="icon_sao_danhgia" alt="">
                                    <span class="text_saodanhgia">@item.AvgRating</span>
                                </div>
                                @if (item.RideNumber > 0)
                                {
                                    <div class="sochuyen">
                                        <img src="@Url.Content("~/images/logo/luggage-cart-line.svg")" class="icon_map" alt="">
                                        <div class="text_sochuyen">@item.RideNumber chuyến</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="sochuyen">
                                        Chưa có chuyến
                                    </div>
                                }

                            </div>
                            <div class="pte_right">
                                <div class="giagiam">@item.Price/giờ</div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Pagination -->
    <div class="nutchuyentrang">
        <a asp-action="Index" asp-route-company="@ViewBag.Company" asp-route-seat="@ViewBag.Seat" asp-route-gear="@ViewBag.Gear" asp-route-hasDriver="@ViewBag.HasDriver" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
            <img src="@Url.Content("~/images/logo/back-arrow.png")" width="25px" /> Previous
        </a>
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-company="@ViewBag.Company" asp-route-seat="@ViewBag.Seat" asp-route-gear="@ViewBag.Gear" asp-route-hasDriver="@ViewBag.HasDriver" class="btn btn-default @nextDisabled">
            Next <img src="@Url.Content("~/images/logo/go-arrow.png")" width="25px" />
        </a>
    </div>
}



<script>
    document.getElementById('volumeRange').addEventListener('input', function () {
        document.getElementById('rangeValue').innerText = this.value;
    });

    function updateCheckboxValue(checkbox) {
        if (checkbox.checked) {
            checkbox.value = true;
        } 
        else {
            checkbox.value = false;
        }
    }
    document.onready
    $(document).ready(function () {
        $("#search-input").keyup(function () {
            var query = $(this).val();
            if (query !== '') {
                $.ajax({
                    url: "/Home/SearchSuggestions",
                    type: "GET",
                    data: { query: query },
                    dataType: "json",
                    success: function (data) {
                        $("#search-results").empty();
                        $.each(data, function (index, suggestion) {
                            $("#search-results").append("<div class='suggestion'>" + suggestion + "</div>");
                        });
                        debugger;
                        // console.log($("#search-results"))
                        if ($("#search-results").children().length == 0) {
                            $(".dropdown-content").css("display", "none");
                        } else {
                            $(".dropdown-content").css("display", "block");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error:", error);
                    }
                });
            } else {
                $("#search-results").empty();
                $(".dropdown-content").css("display", "none");
            }
        });
        $(document).on("click", ".suggestion", function () {
            var selectedSuggestion = $(this).text();
            $("#search-input").val(selectedSuggestion);
            $("#search-results").empty();
            $(".dropdown-content").css("display", "none");
        });
        $(document).click(function (event) {
            if (!$(event.target).closest('.dropdown').length) {
                $(".dropdown-content").css("display", "none");
            }
        });
        $(document).ready(function () {
            $(".header").click(function () {
                $(this).siblings(".item").slideToggle();
            });
        });
    });
    function formatPrice(price) {
        if (price >= 1000) {
            return (price / 1000) + 'k';
        }
        return price;
    }

    $(document).ready(function () {
        // Định dạng tất cả các phần tử có class 'giagiam'
        $('.giagiam').each(function () {
            var price = parseFloat($(this).text().replace(/[^0-9.-]+/g, ""));
            $(this).text(formatPrice(price) + '/giờ');
        });
    });


</script>



<style>
    .nutchuyentrang {
        margin-inline: 43%;
        width: 300px;
    }

    .nutchuyentrang1 {
        margin-left: 75%;
        width: 300px;
    }

    .box {
        width: 305px;
        height: 345px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    .pta {
        padding: 0px;
        margin: 10px;
    }

        .pta img {
            border-radius: 15px;
            width: 280px;
            height: 180px;
        }

    .ptb {
        padding: 0px;
        display: flex;
        width: 100%;
        margin: 0;
    }

    .ptb1 {
        font-size: 13px;
        border-radius: 50px;
        margin: 0;
    }

        .ptb1.apt {
            background-color: aquamarine;
        }

        .ptb1.bpt {
            background-color: rgb(243, 253, 49);
        }

        .ptb1.cpt {
            background-color: rgb(79, 143, 255);
        }

    .ptb div {
        padding: 0px;
        margin-inline: 10px;
    }

    .ptc {
        padding: 0px;
        margin-block: 7px;
    }

    .ptd {
        padding: 0px;
        margin-inline: 10px;
        display: flex;
    }

        .ptd .icon_map {
            width: 25px;
        }

        .ptd .text_map {
            padding-top: 3px;
        }

    hr {
        width: 275px;
        margin-top: 10px;
        margin-bottom: 5px;
    @* margin:5px; *@
    }

    .pte {
        padding: 0px;
        margin-inline: 10px;
        display: flex;
        justify-content: space-between;
    }

        .pte .pte_left {
            display: flex;
        }

            .pte .pte_left .dgsao {
                display: flex;
                margin-right: 10px;
            }

            .pte .pte_left .sochuyen {
                display: flex;
            }

                .pte .pte_left .sochuyen .icon_map {
                    width: 19px;
                }

            .pte .pte_left .dgsao .icon_sao_danhgia {
                width: 18px;
                /* color: rgb(253, 236, 0); */
            }

        .pte .pte_right {
            display: flex;
        }

            .pte .pte_right div {
                margin-right: 10px;
            }

</style>