@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var Image = user.Image;
    @* <ul class="nav nav-pills flex-column">
        <li style="padding:10px 20px;">
            <img style="width: 50px;height: 50px;" src="@Url.Content(user.Image)" alt="Image" /> <span> @user.Name </span>
        </li>
        <li class="nav-item"><a class="nav-link" id="profile" asp-page="./Index">Thông tin cá nhân</a></li>
        <li class="nav-item"><a class="nav-link" id="post" asp-page="./Index">Bài đăng của bạn</a></li>
        <li class="nav-item"><a class="nav-link" id="email" asp-page="./Email">Thay đổi Email</a></li>
        <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./ChangePassword">Đổi mật khẩu</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="nav-item"><a class="nav-link" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="nav-item"><a class="nav-link" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
        <li style="padding:0px 20px;">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    </ul> *@

    <ul class="nav nav-pills flex-column " >
        <li style="padding:10px 20px;">
            <img style="width: 50px;height: 50px;" src="@Url.Content(user.Image)" alt="Image" /> <span> @user.Name </span>
        </li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Thông tin cá nhân</a></li>
        <li class="nav-item"><a class="nav-link" asp-page="./Index">Bài đăng của bạn</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Thay đổi Email</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Đổi mật khẩu</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
        <li style="padding:0px 20px;">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    </ul>
}
